/* Subscription Notification List in Header User Popout */

.notification-list {
    rbtv-notification-inline-element {
        &:nth-of-type(odd) {
            .subscription-item {
                background-color: $rbtv-color-dark;
            }
        }
    }
}

rbtv-notification-inline-element {
    display: block;
}

.subscription-item {
    margin: 0;
    padding: ($spacer*.75) ($grid-gutter-width/2);

    display: flex;

    transition: background-color $rbtv-animationDuration/2, transform $rbtv-animationDuration/2;
    background-color: $rbtv-color-darkestgrey;

    backface-visibility: hidden;

    
    &_image {
        width: $spacer*6;
        margin-right: ($grid-gutter-width/2);
        flex-shrink: 0;
    }

    &_info {
        @include fontSize($rbtv-fontSize-small);
        line-height: 1.5;

        flex: 1;
        transition: color $rbtv-animationDuration/2;
        
        .typetitle {
            line-height: 1;
            margin-bottom: $spacer/3;
        }

        .elementTitle {
            font-weight: 500;
            @include fontSize($rbtv-fontSize-mediumsmall);
            color: $rbtv-color-button-default;
            line-height: 1.25;

            transition: color $rbtv-animationDuration/2;

            margin-bottom: $spacer/8;
        }

        .subscriptionTitle {
            margin-bottom: $spacer/5;
        }


        .elementDate {
            line-height: 1;
            color: $rbtv-color-grey;
            transition: color $rbtv-animationDuration/2;
        }
    }

    &_actions {
        flex-shrink: 0;
        margin-left: ($grid-gutter-width/2);
        opacity: 0;
        transition: opacity $rbtv-animationDuration/2;

        @include media-breakpoint-down(md) {
            opacity: 1;
        }
    }
    
    &:hover,
    &:focus {
        background-color: lighten($rbtv-color-darkgrey, 5%) !important;

        .subscription-item_info {
            color: $rbtv-color-text-highlight;

            .elementTitle {
                color: $rbtv-color-text-highlight;
                text-decoration: underline;
            }
            .elementDate {
                color: $rbtv-color-text;
            }
        }

        .subscription-item_actions {
            opacity: 1;
        }
    }

    // &:active {
    //     transform: scale(0.975);
    // }

}


/** Subscribe Buttons **/

rbtv-subscribe-button {
    display: block;
}

rbtv-subscribe-button + .btn-block {
    margin-top: $spacer/2;
}

.btn {

    &.btn-subscribe {
        // background-color: transparent;
        overflow: hidden;
        position: relative;

        transition: background-color $rbtv-animationDuration/2, color $rbtv-animationDuration $rbtv-easing-softEaseOut !important;

        line-height: 1;
        // background-color: transparent;
        // padding: ($input-btn-padding-y*1.5) ($input-btn-padding-x*1.5);
        
        @include media-breakpoint-down(sm) {
            padding: ($input-btn-padding-y*2) ($input-btn-padding-x*2);
            min-height: $spacer*3;
        }

        background-color: $rbtv-color-button-default;

        &:active,
        &.active,
        &:focus,
        &.focus {
            box-shadow: none !important;
        }

        &:not([disabled]):not(.disabled) {

            &:hover,
            &:focus {
                background-color: $rbtv-color-text-highlight;
                color: $rbtv-color-text-dark;

            }

            // &:active,
            &.active {
                // background-color: $rbtv-color-blue;
                color: $rbtv-color-text-highlight;
                background-color: transparent;
                transition: background-color $rbtv-animationDuration/2 ease-out $rbtv-animationDuration*2, color $rbtv-animationDuration !important;
            }

        }



        
        span {
            position: relative;
            z-index: 30;
            margin: 0 auto;

            // .rbtv-icon {
            //     @include fontSize($rbtv-fontSize-medium);
            // }
        }

        .rbtv-icon {
            @include fontSize(16px);
        }

        &.btn-lg {
            .rbtv-icon {
                @include fontSize(24px);
            }
        }



        &.active {
            transition: background-color $rbtv-animationDuration/2, color $rbtv-animationDuration !important;

            &::after {
                transform: scale(1);
                // padding-top: 0;
                // height: 100%;
                background-color: $rbtv-color-blue;
                // border-radius: 0;
                border-radius: $rbtv-borderRadius-small;
                transition: transform $rbtv-animationDuration*2 $rbtv-easing-hardEaseOut, border-radius $rbtv-animationDuration;
            }
        }

        &::after {
            content: '';
            display: block;
            background-color: $rbtv-color-blue;
            width: 100%;
            height: 0;
            top: 50%;
            left: 50%;
            padding-top: 100%;
            position: absolute;
            border-radius: 50%;
            margin-left: -50%;
            margin-top: -50%;
            transform: scale(0);
            z-index: 10;

            transition: transform $rbtv-animationDuration $rbtv-easing-softEaseOut, border-radius $rbtv-animationDuration;
        }

    }
}



/** Subscriptions in User Account Center **/

.my-subscriptions-list {

    &_entry {
        .title-container {
            opacity: 1;
            transition: opacity $rbtv-animationDuration;
        }
        .title {
            font-family: $rbtv-font-secondary;
            font-weight: bold;
            // @include fontSize($rbtv-fontSize-mediumlarge);
        }
        .type {
            @include fontSize($rbtv-fontSize-mediumsmall);
        }

        &.muted {
            .title-container {
                opacity: 0.4;
            }
        }
    }
}