/* User Popout in header */

$userpopout-width: $spacer*30;

.btn {
    // für die Version mit echtem Avatar
    &.btn-avatar {
        padding: $grid-gutter-width/6;

        border-radius: 50%;

        transition: all $rbtv-animationDuration/2;

        &:not([disabled]):not(.disabled) {

            &.active {

            }
            
        }


        .avatar {
            &-circle {
                height: 2.25rem;
                width: 2.25rem;
            }
        }


    }

    // Avatar-Icon only
    &.btn-avatarIcon {
        padding: $grid-gutter-width/6;
        border-radius: 50%;
        overflow: visible; // because of the small badge
        position: relative;

        > .notificationCount {
            position: absolute;
            left: 65%;
            top: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 1rem;
            padding: $spacer/4 $spacer/5 $spacer/5 $spacer/5;
            min-width: 1.5em;
            min-height: 1.5em;
            font-weight: 300;
            font-family: $rbtv-font-primary;
            @include fontSize($rbtv-fontSize-small);
            background-color: $rbtv-color-red;
            color: $rbtv-color-text-highlight;
 
        }

        .rbtv-icon {
            font-size: 2.25rem;
        }
    }
}
.avatar {
    &-circle {
        border-radius: 50%;
        overflow: hidden;
    }
}

rbtv-userpopout {
    
    position: absolute;
    top: calc(100% + #{$spacer});
    // height: 50vh;
    
    right: calc( ((2.25rem)/2) - (#{$grid-gutter-width}/2) );

    @media screen and (max-width: $userpopout-width) {
        left: $grid-gutter-width/2;
        right: $grid-gutter-width/2;
    }

    // @media screen and (max-width: $userpopout-width) {

    //     top: 100%;

    // }

    @media screen and (max-width: $userpopout-width) {
        top: calc(100% + #{$spacer}/2);
    }
    
}

.userpopout-container {
    
    // position: absolute;

    flex-shrink: 0;
    

    @media screen and (min-width: $userpopout-width) {
        position: relative; // so on small screens the popout will orient itself on the next relative positioned parent
    }

    .userpopout {
        
        width: $userpopout-width;
        // padding: ($spacer/2) 0 $spacer 0;
        
    
        box-shadow: $rbtv-overlay-boxshadow;

        // overflow: hidden;

        max-height: calc(100vh - 10rem );
        display: flex;
        flex-direction: column;

        position: relative;


        header {
            // padding: 0 ($grid-gutter-width/2) 0 ($grid-gutter-width/2);
            padding: ($spacer/2) ($grid-gutter-width/2) ($spacer/2) ($grid-gutter-width/2);
            background-color: $rbtv-color-darkgrey;

            @media screen and (min-width: $userpopout-width) {
                &.roundedBorders {
                    border-top-right-radius: 0 !important;
                }
            }
        }
        
        &_scrollable {
            // overflow-y: auto;
            // overflow: hidden;
            overscroll-behavior: contain contain;
            background-color: $rbtv-color-dark;
            

            // margin-right: -($grid-gutter-width*2);
            // padding-right: $grid-gutter-width*2 + ($grid-gutter-width/2);
            
        }

        &_inner {
            // padding-left: $grid-gutter-width/2;
            // padding-right: $grid-gutter-width/2;
        }

        footer {
            padding: ($spacer/2) ($grid-gutter-width/2) ($spacer/2) ($grid-gutter-width/2);
            background-color: $rbtv-color-darkgrey;
        }

        .notifications-list-container {
            display: flex;
            flex-direction: column;

            .notifications-header {
                padding: ($spacer/2) ($grid-gutter-width/2) ($spacer/2) ($grid-gutter-width/2);
                background-color: $rbtv-color-darkgrey;
                flex-shrink: 0;

                .title {
                    @include fontSize($rbtv-fontSize-small);
                    font-weight: 500;
                    display: block;
                    line-height: 1;
                }
                
            }

            .empty {
                @include fontSize($rbtv-fontSize-small);
                // font-style: italic;
                padding: ($spacer/2) ($grid-gutter-width/2) ($spacer/2) ($grid-gutter-width/2);
                color: $rbtv-color-grey;
                display: block;
                line-height: 1;
            }
        }

        .triangle {
            // content: '';
            position: absolute;
            top: -#{$spacer};
            display: block;
            // top: 0;
            // right: $rbtv-borderRadius-small;
            right: 0;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 $spacer $spacer $spacer;
            border-color: transparent transparent $rbtv-color-darkgrey transparent;
            // z-index: 100;
        }


        // @media screen and (max-height: ($userpopout-width + 5rem + ($spacer*1.5))) {
        //     &_inner {
        //         max-height: calc(90vh - 5rem - (#{$spacer}*1.5) );
        //     }
        // }

        @media screen and (min-height: ($userpopout-width + 5rem + ($spacer*1.5))) {
            max-height: none;
            // border: 1px solid red;

            &_scrollable {
                // max-height: calc(100vh - 5rem - (#{$spacer}*1.5) );
                // min-height: $userpopout-width - 5rem - ($spacer*1.5);
                // max-height: calc(70vh - 5rem - (#{$spacer}*1.5) );
                max-height: $userpopout-width;
                
            }
        }

        @media screen and (max-width: $userpopout-width) {
            width: auto;

            .triangle {
                right: $spacer*4.75;
            }
        }
        

        
        .userinfo {

            .user-avatar {
                flex-shrink: 0;

                .avatar {
                    &-circle {
                        height: 3rem;
                        width: 3rem;
                    }
                }
            }

            .user-name {
                font-family: $rbtv-font-secondary;
                // @include fontSize($rbtv-fontSize-mediumlarge);
                line-height: 1;
                word-break: break-all;
                color: $rbtv-color-button-default;
                padding-right: $spacer/3;
            }
        }

        .user-controls {
            flex-shrink: 0;
            display: flex;
            justify-content: flex-end;
        }

    }
}

