#donationSlider {
    width: 100%;

    .slider-handle {
        // background: $rbtv-color-blue;
        background: $rbtv-color-yellow;
        // background: transparent;
        // background-image: url(assets/img/SVG/rbtv-cornerbug.svg);
        background-repeat: no-repeat;
        // box-shadow: 0 0 0 4px $rbtv-color-yellow;
        box-shadow: 0 0 0 10px rgba($rbtv-color-black, 0.5);
        // box-shadow: 0 0 0 2px rgba($rbtv-color-black, 1);
        z-index: 100;
        // transform: scale(1.5);
        
        &:hover {
            // background: $rbtv-color-text-highlight;
            // transform: scale(1.5);
            cursor: pointer;
        }
    }

    .slider-selection,
    .slider-selection.tick-slider-selection {

        &:not(.slider-rangeHighlight) {
            // background: transparent;
            background: $rbtv-color-grey;
        }
    }
    .slider-selection.tick-slider-selection {
        z-index: 10;
    }

    .slider-tick-container {
        z-index: 50;
    }

    .slider-tick-label-container .slider-tick-label {
        padding-top: 10px;
    }

    .slider-tick {
        background: $rbtv-color-black;
        box-shadow: inset 0 -2px 0 0 rgba(255, 255, 255, 0.1);
        opacity: 1;

        &.in-selection {
            background: $rbtv-color-grey;
        }
    }

    .slider-rangeHighlight.slider-selection {
        
        // box-shadow: inset 0 -2px 0 0 rgba(255, 255, 255, 0.1);
        background: transparent;
        // &.lowtier {
        //     background: $rbtv-color-grey;
        // }
        // &.hightier {
        //     background: $rbtv-color-yellow;
        // }

    }

    .slider-track {
        background: $rbtv-color-black;
        box-shadow: inset 0 -2px 0 0 rgba(255, 255, 255, 0.1);
    }
}

#donationManualInput {
    width: 6rem;
}

.valueCurrency {
    margin-left: $spacer;
    @include fontSize($rbtv-fontSize-large);
}

.donationTierList {

    .donationTier {
        border-radius: $rbtv-borderRadius-small;
        // display: block;
        // padding: $grid-gutter-width/2 $grid-gutter-width;
        padding-top: $grid-gutter-width/2;
        padding-bottom: $grid-gutter-width/2;
        color: $rbtv-color-text-highlight;
        // text-align: center;

        // height: 100%;

        transition: background-color $rbtv-animationDuration, color $rbtv-animationDuration;

        // @include media-breakpoint-down(sm) {
        //     height: auto;
        //     margin-bottom: $spacer;
        // }

        &.tier1 {
            background-color: $rbtv-color-grey;
        }

        &.tier2 {
            background-color: $rbtv-color-blue;
        }

        &.inactive {
            
            background-color: $rbtv-color-darkgrey;
            color: $rbtv-color-grey;

            .title {
                color: $rbtv-color-grey;
            }
        }

        .cost {
            display: block;
            margin-bottom: $spacer/2;
            @include fontSize($rbtv-fontSize-mediumlarge);
        }

        .title {
            transition: color $rbtv-animationDuration;
        }

        .description {
            margin-bottom: 0;
        }


    }


}