// Frontpage blog previews

rbtv-blog-inline-element {
    width: 100%;
}

.blogpost-preview {
    // overflow: hidden;
    position: relative;

    margin-bottom: $spacer;

    transition: background-color ($rbtv-animationDuration/2);

    backface-visibility: hidden; // fix for jittering

    // @include media-breakpoint-down(md) {
    //     margin-bottom: $spacer;
    // }

    @include media-breakpoint-down(md) {
        overflow: visible;
    }

    &_img {
        // position: static !important;
        @include media-breakpoint-down(md) {
            width: 35%;
        }
    }

    &_text {

        
        @include media-breakpoint-up(lg) { // fancy hover effect only on large viewports
            position: absolute !important;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            padding: $spacer;
            background-color: $rbtv-color-darkBG;
            color: $rbtv-color-text;

            @include fontSize($rbtv-fontSize-medium);

            
            // hover effects:
            
            opacity: 0;
            transition: transform $rbtv-animationDuration/2, opacity $rbtv-animationDuration/2;

            
            
            &:hover,
            &:focus {

                opacity: 1;

                cursor: pointer;
                
                
                .blogpost-preview_text_date,
                .blogpost-preview_text_title,
                .blogpost-preview_text_excerpt {
                    transform: translateY(0%);
                    opacity: 1;
                }
                
            }

            .blogpost-preview_text_date,
            .blogpost-preview_text_title,
            .blogpost-preview_text_excerpt {
                transform: translateY(-50%);
                opacity: 0;
                transition: transform $rbtv-animationDuration, opacity $rbtv-animationDuration;
            }

        }
    }    

}

a.link-wrapper {
    &:hover,
    &:focus {

        .blogpost-preview_text {

            opacity: 1;

            cursor: pointer;
            
            
            .blogpost-preview_text_date,
            .blogpost-preview_text_title,
            .blogpost-preview_text_excerpt {
                transform: translateY(0%);
                opacity: 1;
            }

        }

        
    }
}

.blogpost-preview,
.blogpost-extended-preview {
    .blogpost-preview_text_date {
        display: block;
        margin-bottom: ($spacer/2);
        color: $rbtv-color-text;
        line-height: 1;

        @include fontSize($rbtv-fontSize-mediumsmall);
        
        // @include media-breakpoint-down(sm) {
        //     display: none;
        // }
    }

    .blogpost-preview_text_title {
        font-family: $rbtv-font-secondary;
        @include fontSize($rbtv-fontSize-large);
        font-weight: bold;
        margin-bottom: $spacer;

        @include media-breakpoint-down(lg) {
            @include fontSize($rbtv-fontSize-large*.75);
        }
        @include media-breakpoint-down(md) {
            @include fontSize($rbtv-fontSize-large);
        }
    }

    .blogpost-preview_text_excerpt {

        margin-bottom: $spacer/2;

        @include fontSize($rbtv-fontSize-mediumsmall);

        @include media-breakpoint-down(xs) {
            @include fontSize($rbtv-fontSize-medium);
        }

        
    }

    &.blogpost-extended-preview {
        .blogpost-preview_text_title {
            @include fontSize($rbtv-fontSize-mediumlarge);
        }
    }
}


/* Extended Blog Previews */

rbtv-blog-extended-inline-element {
    display: block;
    margin-bottom: $spacer*3;

    @include media-breakpoint-down(md) {
        margin-bottom: $spacer*2;
    }
}

.blogpost-extended-preview {
    // background-color: red;
    margin-bottom: 0;
    height: 100%;

    
    

    &_image {
        margin-bottom: $spacer;
        position: relative;

        // @include media-breakpoint-down(sm) {
        //     margin-bottom: 0;
        // }
        // @include media-breakpoint-down(xs) {
        //     margin-bottom: $spacer;
        // }

        .blogpost-extended-preview_img {
            display: inline-block;
        }
        
        // &::after {
        //     content: '';
        //     display: block;
        //     position: absolute;
        //     top: 0;
        //     right:0;
        //     bottom: 0;
        //     left: 0;
        //     z-index: 50;
        //     opacity: 0;
        //     background-color: $rbtv-color-black;

        //     transition: opacity $rbtv-animationDuration/2;
        // }

        
    
        .blogpost-autoren {
            position: absolute;
            top: 0;
            right: $grid-gutter-width/2;
            bottom: 0;
            left: $grid-gutter-width/2;
            z-index: 100;
            opacity: 0;
            transition: opacity $rbtv-animationDuration/2;
        }
    
    }

    &_text {
    
    }
    

    

    &:hover,
    &:focus {
        .blogpost-extended-preview_image {

            .blogpost-autoren {
                opacity: 1;
            }
            

            // &::after {
            //     opacity: .9;
            // }
        }
    }
}


/* Blog Single Page View */

.blog-single {

    .blog-single-header {

        position: relative;
        margin-bottom: $spacer*2;

        // @include media-breakpoint-down(sm) {
        //     margin-bottom: $spacer;
        // }

        .info-layer {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            overflow: hidden;

            .blog-single_author {
                background-image: linear-gradient(to bottom, rgba($rbtv-color-black, 0) 0%, rgba($rbtv-color-black, .9) 100%);
                
                img {
                    max-height: 6rem;

                    @include media-breakpoint-down(xs) {
                        max-height: 5rem;
                    }
                }

                
            }
        }

        &_image {
            width: 100%;
            border-radius: $rbtv-borderRadius-small;
            overflow: hidden;
        }

    }    
    
    &_content {
        @include media-breakpoint-up(lg) {
            width: calc( 100% - ( ( ( (#{$rbtv-player-minHeight} / 9) * 16) + (#{$grid-gutter-width}) ) ) ) !important;
            margin: 0 !important;
        }
        @include media-breakpoint-up(xl) {
            width: calc( 100% - ( ( ( (#{$rbtv-player-minHeight} / 9) * 16) + (#{$grid-gutter-width}) ) ) ) !important;
            margin: 0 !important;
            padding-left: calc( ( (#{$rbtv-player-minHeight} / 9) * 16) + (#{$grid-gutter-width}) ) !important;
        }

        img {
            @extend .img-fluid;
        }
        
    }

    aside.sticky {
        width: calc(( (#{$rbtv-player-minHeight} / 9) * 16) );
        margin-left: ($grid-gutter-width);

        @include media-breakpoint-down(md) {
            position: relative;
            width: 80%;
            margin-left: 0;
            top: 0;
            margin-top: $spacer*3;
        }
        @include media-breakpoint-down(sm) {
            width: 100%;
        }
        // @include media-breakpoint-down(xs) {
        //     width: 100%;
        // }
    }

    &_meta_actions,
    &_meta_share, 
    &_meta_videolink, {
        margin-top: 0;
    }
    &_meta_actions,
    &_meta_videolink, {
        margin-bottom: $spacer*2;
    }

    

}


.content_gallery {

    position: relative;
    margin-top: $spacer*2;
    margin-bottom: $spacer*2;

    .swiper-container {
        flex: 1;
    }

    .slider-nav-container {

        z-index: 100;

        &__next {
            padding-left: $grid-gutter-width/4;

            .btn {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
        &__prev {
            padding-right: $grid-gutter-width/4;

            .btn {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
        }

        .btn {
            height: 100%;
            padding: 0;

            .rbtv-icon {
                @include fontSize($rbtv-fontSize-large*1.5);
            }
        }
    }

    .gallery-item {
        margin: 0;
    }

}


/** Promo Slider **/

rbtv-blog-featured-inline-element {
    .promo-placeholder {
        width: 1000px;
        height: 0;
        padding-bottom: 40%;
    }
}