/* Quick random color generator */
$s-min: 70;
$s-max: 100;
$l-min: 50;
$l-max: 100;


/* Fake Chat */
rbtv-chat {
    height: 100%;
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
}
.chat-msgs-container {
    overflow-x: hidden;
    overflow-y: hidden;
    
    max-height: 500px;

    width: 100%;

    .chat-msg {
        padding: $spacer/3;
        
        @include fontSize($rbtv-fontSize-mediumsmall);

        &:nth-of-type(odd) {
            background-color: $rbtv-color-darkestgrey;
        }

        @for $i from 1 through 100 {
            &:nth-child(#{$i}) .user {
                color: hsl(random(360),$s-min+random($s-max+-$s-min),$l-min+random($l-max+-$l-min));
            }
        }
    }

    @include media-breakpoint-down(sm) {
        max-height: 50vh;

        .chat-msg {
            @include fontSize($rbtv-fontSize-medium);
        }
    }

    
}

.chat-input-container {
    margin-top: $spacer;
}