// .media-shows {

//     .content {

//         @include media-breakpoint-down(xs) {
//             padding-left: 0;
//             padding-right: 0;
//         }
//     }
// }


rbtv-media-show-inline-element,
rbtv-media-season-inline-element {
    display: block;
    margin-bottom: $spacer;
    
    @include media-breakpoint-down(md) {
        margin-bottom: 0;
    }
}

.show-item {
    margin-bottom: 0;
    cursor: pointer;    
    transition: box-shadow ($rbtv-animationDuration / 2), transform ($rbtv-animationDuration/2);

    position: relative;

    // background: url(../assets/img/SVG/placeholder_16x9.svg) no-repeat center center;
    // background-size: cover;

    img {
        position: relative;
        // position: absolute;
        z-index: 10;
    }

    @include media-breakpoint-down(md) {
        margin-bottom: 0;
    }

    .show-attributes-container {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        padding: ($grid-gutter-width/4);
        z-index: 50;

        overflow: hidden;
        
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        

        .btn {
            &.show-attribute {
                opacity: 0.65;

                transition: color $rbtv-animationDuration/2, opacity $rbtv-animationDuration/2 !important;
                // transition-timing-function: $rbtv-easing-softEaseOut !important;
                text-shadow: 0px 2px 0px rgba(#000,0.6), 1px 1px 0px rgba(#000,0.6), -1px 1px 0px rgba(#000,0.6);

                &:hover {
                    opacity: 1;
                    // color: $rbtv-color-text-highlight;
                    text-shadow: none;

                }
            }
        }

        rbtv-subscribe-button {
            opacity: 0;
            transform: translateY(-100%);
            transition: transform $rbtv-easing-hardEaseOut $rbtv-animationDuration;

            &:hover {}

            .btn.btn-subscribe {
                &.active {
                    opacity: 1;
                }

                &:hover,
                &.active {
                    text-shadow: none;
                }
                background-color: transparent;
                transition: background-color $rbtv-animationDuration/2, color $rbtv-animationDuration/2 !important;
                .rbtv-icon {
                    @include fontSize($rbtv-fontSize-large);
                }
            }
        }

        &:hover {
            rbtv-subscribe-button {
                transform: translateY(0);
                opacity: 1;
            }
        }
    }
}


