// Content Boxes

.content-box {

    .box-header {

        padding-top: $spacer*1.5;
        padding-bottom: $spacer/2;

        &_title {
            // flex: 1;
        }

        &_action {
            display: flex;
            justify-content: flex-end;
        }

        @include media-breakpoint-down(sm) {
            &_title {
                flex: 1;
            }
        }

        .box-title {
            
            color: $rbtv-color-text-highlight;
            font-family: $rbtv-font-secondary;
            font-weight: bold;

            line-height: 1;
            @include fontSize($rbtv-fontSize-large*1.25);

            // margin-right: $spacer*2;
            margin-bottom: 0;

            flex-shrink: 0;

            // @include media-breakpoint-down(sm) {
            //     @include fontSize($rbtv-fontSize-large);
            // }

            // @include media-breakpoint-down(xs) {
            //     word-break: break-all;
            // }

            &__blue {
                background-color: $rbtv-color-blue;
            }

        }

        .box-subtitle {
            line-height: 1.25;
            
            @include fontSize($rbtv-fontSize-medium);
            margin-left: $grid-gutter-width;

            @include media-breakpoint-down(sm) {
                margin-top: $spacer/2;
                margin-left: 0;
            }

        }

    }

    > .content {
        padding-top: $spacer;
        
    
        padding-bottom: $spacer*2;

        // space for the loading icon
        min-height: $rbtv-fontSize-large*3;
        @include media-breakpoint-up(sm) {
            
            min-height: $rbtv-fontSize-large*4; 
            
        }
        

        position: relative;

        .loading-overlay {
            position: absolute;
            top: 0;
            right: 0;
            bottom: $spacer*2;
            left: 0;
            z-index: 50;
            background-color: rgba($rbtv-color-dark, 0.8);
            display: flex;
            align-items: center;
            justify-content: center;
            filter: grayscale(1);

            animation: fadeIn 0.5s;
            
            @include media-breakpoint-up(sm) {
                > .rbtv-icon {
                    @include fontSize($rbtv-fontSize-large*2);
                }
            }
        }
    }

}